.container {
    display: flexbox;
    max-width: 600px;
    margin: 0 auto;
    padding: 50px;
    border: none;
    position: absolute;
    top: 50%;
    right: 50px; 
    transform: translate(0, -50%);
}
body {
    background-image: url('https://t4.ftcdn.net/jpg/03/17/72/47/360_F_317724775_qHtWjnT8YbRdFNIuq5PWsSYypRhOmalS.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

form {
    margin-bottom: 20px;
}

label {
    display: grid;
    margin-bottom: 5px;
    color: rgb(155, 148, 148);
    font-size: larger;
    font-style: normal;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-color: aqua;
}

button {
    padding: 10px 20px;
    background-color: #dadfe5;
    color: #3d3b3d;
    border: #64dbee;
    border-radius: 30px;
    cursor: pointer;
    position: static;
}

button:hover ,input:hover {
    background-color: #696b6d;
}

ul {
    list-style-type:circle;
    padding: 5px;
    color: rgb(222, 221, 230);
    background-color: rgb(26, 25, 25);
}

li {
    border: 1px solid #ecefb4;
    padding: 10px;
    margin-bottom: auto;
    
    cursor: pointer;
}



